.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 50%;
}

.nav {
  border: borde;
  margin: 50px;
  background-color: grey;
}

ul li {
  display: inline-block;
  margin: 10px;
}

table {
  width: 50%;
  border: solid;
  float: center;
}

td {
  border: 1px solid;
}

.pertab .addtab {
  margin: 0 20%;
}
