.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  border: borde;
  margin: 50px;
  background-color: grey;
}

ul li {
  display: inline-block;
  margin: 10px;
}

table {
  width: 100%;
  border: solid;
}

td {
  border-top: 1px solid #000 !important;
}
